@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
* {
  text-align: center;
  
}
main{
  padding-top: 5vh;
  height: 200vh;
  background-image: -webkit-linear-gradient(90deg, #FFFFFF 93%, #284B63 40%);
}
.navbar{
  
  background-image: -webkit-linear-gradient(-80deg, #FFFFFF 50%, #3C6E71 50%);
  height: 15vh;
}
  .navbar h1{
    font-family: 'Gowun Batang', serif;
    color: #353535;
    padding: 1vw;
    border: 1px solid 
  }
.error{
  color:red;
}
.card{
  color:#353535;
  
}
.form{
  color: #353535;
  border-bottom: #3C6E71 2px solid;
}
.form :active{
  border: red;
}
.button{
  margin-top: 1vh;

}
.accordionHeader{
  text-decoration: none;
  color:#284B63;
  font-weight: 400;
}
.mainrow{
  margin-top: 3vh;
}
.cardGroup{
  background-image: '../src/assets/img/weather.jpg';
}
.weatherHeader{
  background-color: #284B63;
  color:#FFFFFF;
  font-size: 0.5em;
}
.weatherData {
  font-size: .7em;
}
